---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  href={href}
  class:list={[
    "paper-btn btn-small no-decoration",
    className,
    { active: isActive }
  ]}
  {...props}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
  }

  .no-decoration {
    text-decoration: none;
  }

  /* Active state */
  a.active {
    font-weight: bold;
    box-shadow: 2px 2px 0 #000;
    transform: translate(-1px, -1px);
    transition: transform 0.05s ease;
  }

  a.active:hover {
    transform: translate(-2px, -2px);
  }
</style>

